*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1 {
    color:#4a9e04;
    text-align: center;
    
}

.contact_form form{
    display: block;
   width: 100%;
   padding: 10%;
   gap:10% ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color:#ffffff;
    opacity: 80%;
}
form{
    background-color: #ffffff;
    opacity: 80%;
    border: 1px solid #333;
    height: 60%;
    /* width: ; */
}

input[type="text"],
        input[type="email"],
        textarea {
            width: 30%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #4a9e04;
            border-radius: 5px;
}

input[type="submit"] {
    background-color:#4a9e04;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4a9e04;
}

label, input{
    font-family:'Times New Roman', Times, serif;
    padding:5px;
}
